.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-block: 1rem;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
