:root {
  --primary: #00abb3;
  --dark-gray: #3c4048;
  --light-gray: #b2b2b2;
  --light: #eaeaea;
  --Primary-Text: #fff;
  --Secondary-Text: #000;
  --black: #000;
  --white: #fff;
}
.dark {
  --primary: #004d51;
  --dark-gray: #eaeaea;
  --light-gray: #b2b2b2;
  --light: #3c4048;
  --Primary-Text: #000;
  --Secondary-Text: #fff;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--light);
  color: var(--Secondary-Text);
  transition: background-color 2s ease-out, color 2s ease-in;
}
